@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script & display=swap');

/**profil gitlab: https://gitlab.com/jomesss/tp3-jonathan_claes
vue que tu m'as pas mis dans tes favorie :D */

header {
	background-color: black;
	background-image: url(../image/baril-roulant-background-header2.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;

}

main {
	background-color: black;
	overflow: hidden;
	color: antiquewhite;
}

.conteneur-header {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.logo {

	max-width: 200px;
}

.en-tete {


	font: 1.4em 'Montserrat', sans-serif;
	font-weight: 100;
	color: #f2f3f3;
}

nav {

	padding-top: 2.5em;

}

nav ul li {
	display: inline-block;
	text-transform: uppercase;


}

.icone-menu{
	display: none;
}

.btn-menu {
	background-color: rgb(0 0 0 / 0.5);
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f3f3;
	padding: 10px 5px;
	border: 1px transparent solid;
}

.btn-menu-special {
	background-color: rgb(0 0 0 / 0.5);
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f3f3;
	padding: 10px 5px;
	border: 1px solid;
}

.btn-menu-special-actif {
	background-color: rgb(0 0 0 / 0.5);
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f3f3;
	padding: 10px 5px;
	border: 1px solid;
	border-color: rgb(238, 11, 11);
	box-shadow: 0 14px 28px rgba(178, 202, 211, 0.25), 0 10px 10px rgba(248, 223, 223, 0.22);
}

.btn-menu:hover {
	border: 1px solid #f2f3f3;
	padding: 10px 5px;
}

.btn-menu-special:hover {
	border-color: blueviolet;
	box-shadow: 0 14px 28px rgba(178, 202, 211, 0.25), 0 10px 10px rgba(248, 223, 223, 0.22);
}

.btn-menu-actif {
	background-color: rgb(0 0 0 / 0.5);
	border: 1px solid #f01000;
	padding: 10px 5px;
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f3f3;
}

.main-hero {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding-top: 50px;
	align-items: stretch;
}

.texte-hero {
	color: antiquewhite;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	;


}

.hero{
	width: 100%;
}

.btn-index {
	margin: 20px;
	padding: 10px;
	border: #f01000 solid 2px;
	border-radius: 50% 20% / 10% 40%;
	background-color: black;
	color: aqua;
}

.btn-index:hover {
	margin: 20px;
	padding: 10px;
	border: #f2f3f3 solid 2px;
	border-radius: 40% 10% / 20% 50%;

}

.btn-reserver {
	margin: 20px;
	padding: 10px;
	border: #f01000 solid 2px;
	border-radius: 20% 50% / 40% 10%;
	background-color: black;
	color: aqua;
}

.btn-reserver:hover {
	margin: 20px;
	padding: 10px;
	border: #f2f3f3 solid 2px;
	border-radius: 10% 40% / 50% 20%;

}

.temoin {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	background-image: url(../image/baril-roulant-background-client.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.titre-temoin {
	color: antiquewhite;
}

.soustitre-temoin {
	color: antiquewhite;
}

.temoin-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding: 10px;


}

.client {
	border: #f2f3f3 1px solid;
	border-radius: 10%;
	padding: 10px;
	background-color: hsla(2, 14%, 66%, 0.427);
}

.client:hover {
	border: #f2f3f3 1px solid;
	border-radius: 10%;
	box-shadow: 0 14px 28px rgba(9, 9, 9, 0.25), 0 10px 10px rgba(23, 23, 23, 0.22);
	padding: 10px;
	background-color: hsla(2, 14%, 66%, 0.427);
}

.imgclient {
	border-radius: 30%;
}

.nomclient {
	color: rgb(184, 180, 176);
}

.commentaire-client {
	color: antiquewhite;
}

footer {
	background-color: black;
	padding: 20px;
}

.footer {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	color: antiquewhite;
	background-color: black;


}

.realisateur {
	font-family: 'Dancing Script', cursive;
}

.reseau {
	display: flex;
	justify-content: end;
	align-items: center;

}

.logor {
	width: 20px;
	padding: 5px;
}

.containeur {
	max-width: 1200px;
	width: 90%;
	margin: auto
}

.infoclient {
	display: flex;
	justify-content: space-between;
}

.inforeservation {
	display: flex;
	justify-content: space-around;
}

.inforeservation1{
	display: flex;
	flex-direction: column;
}

.infosup {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.imagereservation {
	display: flex;
	justify-content: space-around;
}

.formreservationresto {
	font-family: 'Dancing Script', cursive;
}

#formreservationresto {
	font-family: 'Dancing Script', cursive;
}

#btn-final {
	float: right;
}

.resto-mosaique {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.resto-nom {
	font-family: 'Dancing Script', cursive;
}

.mosaique {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}


.image-mosaique-burger {
	width: 100%;
	height: 100%;
}

.image-mosaique-auberge {
	width: 100%;
	height: 100%;
}

.image-mosaique-int {
	width: 100%;
	height: 100%;
	grid-column: 1/3;
	grid-row: 2/4;

}

.image-mosaique-poutine {
	width: 100%;
	height: 100%;
}

.image-mosaique-micro {
	width: 100%;
	height: 100%;
}

.image-mosaique-ext {

	width: 100%;
	height: 100%;
	grid-column: 3/5;
	grid-row: 1/3;
}

.h3resto {
	font-family: 'Dancing Script', cursive;
}

.adresse {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.pagecommande {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	
}

.formcommande{
	display: flex;
	justify-content: space-between;
}

.section1commande{
	width: 66%;
}

.section2commande{
	width: 33%;
	text-align: center;
	
	margin: auto;
}

.h1commande {
	font-family: 'Dancing Script', cursive;
	padding-bottom: 30px;
}

.h3commande {
	font-family: 'Dancing Script', cursive;
}

table {
	width: 100%;
	align-items: center;
	text-align: center;
	background-color: rgba(250, 235, 215, 0.85);
	color: black;
}

thead{
	background-color: rgb(192, 30, 6);
	color: rgb(195, 195, 223);
	
}

th{
	width: 33%;
}

.imagelogocommande{
	width: 100%;
	margin-top: 20px;
}

.imagelogocommande1{
	width: 100%;
	margin-top: 20px;
}

.pageconfirmation{
	max-width: 1200px;
	width: 90%;
	margin: auto;
	align-items: center;
	text-align: center;
}

.confirmationtitre{
	font-family: 'Dancing Script', cursive;
 
}

.logoconfirmation{
	width: 100%;
}



@media screen and (max-width: 1200px) {

	.main-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	}

	.hero{
		max-width: 50%;
		padding-top: 20px;
		margin: auto;
		
	}

	.imghero{
		max-width: 100%;
	}

	.imagereservation{
		flex-direction: column;
	}
	
}

@media screen and (max-width: 960px) {

	.imghero{
		max-width: 100%;
	}
	
	.temoin-grid {
		display: grid;
		grid-template-columns: 1fr 1fr ;}

	nav{
		display: none;
	}

	.icone-menu{
		display: inline ;
		width: 15%;
	}
	
	.infoclient{
		flex-direction: column;
	}

	.inforeservation{
		flex-direction: column;
		align-items: flex-start;
	}

	.adresse{
		flex-direction: column;
		align-items:center;
	}

	.mosaique{
		grid-template-columns: 1fr 1fr;
	}

	.image-mosaique-int {
		width: 100%;
		height: 100%;
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.image-mosaique-ext {

		width: 100%;
		height: 100%;
		grid-column:2/3;
		grid-row: 3/4;
	}

	iframe{
		width: 100%;
	}

	.formcommande{
		flex-direction: column;
	}

	.section1commande{
		width: 100%;
		align-items: center;
	}

	.section2commande{
		width: 100%;
	}

	.imagelogocommande{
		display: none;
	}

}



@media screen and (max-width: 570px) {
	
	.imghero{
		max-width: 100%;
	}

	.temoin-grid {
		display: grid;
		grid-template-columns: 1fr ;
	}

	.mosaique{
		grid-template-columns: 1fr;
	}

	.image-mosaique-int {
		width: 100%;
		height: 100%;
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.image-mosaique-ext {

		width: 100%;
		height: 100%;
		grid-column:1/2;
		grid-row: 4/5;
	}

	.footer{
		flex-direction: column;
	}

	
}